{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h2 class="sub-header">Signed</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Signed by</th>
            <th>Date signed</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries.itervalues() %}
            <tr>
              <td><a href="{{ url_for('log_entries', date=entry['created']) }}">{{ entry['created'] }}</a></td>
              <td>{{ entry.get('sign', 'Unsigned') }}</td>
              <td>{{ entry.get('signdate', '')}}</td>
              <td>{{ entry.get('message', '') }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
